name: Playground Node CI

on: push

jobs:
  sayhello:
    runs-on: ubuntu-latest

    if: contains(github.ref, 'this-will-fail')
    # if: contains(github.ref, 'master') && endsWith(github.ref, 'master')

    strategy:
      matrix:
        node-version: [12.x]

    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: npm publish
        env:
          IS_ALPHA: ${{contains(github.ref, 'alpha')}}
          IS_BETA: ${{contains(github.ref, 'beta')}}
        run: |
          if [ ${IS_ALPHA} = true ]; then export NPM_TAG="--tag alpha"; fi
          if [ ${IS_BETA} = true ]; then export NPM_TAG="--tag beta"; fi
          cd packages/playground && npm publish ${NPM_TAG}

  website:
    runs-on: ubuntu-latest

    # if: startsWith(github.ref, 'refs/tags/')

    needs: sayhello

    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js 12.x
        uses: actions/setup-node@v1
        with:
          node-version: 12.x
      - name: website
        # if: contains(github.ref, 'this-will-fail')
        run: |
          git config --global user.name "${{secrets.GH_NAME}}"
          git config --global user.email "${{secrets.GH_EMAIL}}"
          echo "machine github.com login ${{secrets.GH_NAME}} password ${{secrets.GH_TOKEN_PLAYGROUND}}" > ~/.netrc
          cd website && yarn install && GIT_USER="${{secrets.GH_NAME}}" yarn run publish-gh-pages
      - name: npm publish
        env:
          IS_ALPHA: ${{contains(github.ref, 'alpha')}}
          IS_BETA: ${{contains(github.ref, 'beta')}}
        run: |
          if [ ${IS_ALPHA} = true ]; then export NPM_TAG="--tag alpha"; fi
          if [ ${IS_BETA} = true ]; then export NPM_TAG="--tag beta"; fi
          cd packages/playground && NPM_TOKEN=${{secrets.NPM_TOKEN}} npm publish ${NPM_TAG}
