name: Playground Node CI

on: push

jobs:
  sayhello:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x]

    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: sayhello
        env:
          MASTAH: contains(github.ref, 'master')
          LETAG: contains(github.ref, 'refs/tags/')
        run: |
          echo "hello3"
          echo "${MASTAH}"
          echo "is true ${MASTAH}===\"true\""
          if [[ ${MASTAH} ]]; then export NPM_TAG="--tag alpha"; fi
          if [[ ${LETAG} ]]; then export NPM_TAG="--tag beta"; fi
          echo "npm publish ${NPM_TAG}"

  website:
    runs-on: ubuntu-latest

    if: startsWith(github.ref, 'refs/tags/')
    # if: contains(github.ref, 'alpha')
    # if: contains(github.ref, 'beta')

    needs: sayhello

    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js 12.x
        uses: actions/setup-node@v1
        with:
          node-version: 12.x
      - name: Dump job context
        env:
          GH_REF: ${{github.ref}}
        run: echo "HUEHUE $GH_REF"
      - name: website
        env:
          GH_NAME: ${{secrets.GH_NAME}}
          GH_EMAIL: ${{secrets.GH_EMAIL}}
          GH_TOKEN_PLAYGROUND: ${{secrets.GH_TOKEN_PLAYGROUND}}
        run: |
          git config --global user.name "${GH_NAME}"
          git config --global user.email "${GH_EMAIL}"
          echo "machine github.com login ${GH_NAME} password ${GH_TOKEN_PLAYGROUND}" > ~/.netrc
          cd website && yarn install && GIT_USER="${GH_NAME}" yarn run publish-gh-pages
