name: Playground Node CI

on: push

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js 12.x
        uses: actions/setup-node@v1
        with:
          node-version: 12.x
      - name: test
        run: |
          echo "mocked tests"

  npm_publish:
    runs-on: ubuntu-latest

    needs: test

    if: startsWith(github.ref, 'refs/tags/')

    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js 12.x
        uses: actions/setup-node@v1
        with:
          node-version: 12.x
      - name: npm publish
        env:
          IS_ALPHA: ${{ contains(github.ref, 'alpha')}}
          IS_BETA: ${{ contains(github.ref, 'beta')}}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: |
          if [ ${IS_ALPHA} = true ]; then export NPM_TAG="--tag alpha"; fi
          if [ ${IS_BETA} = true ]; then export NPM_TAG="--tag beta"; fi
          echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" > ~/.npmrc
          cd packages/playground && npm publish ${NPM_TAG}

  website:
    runs-on: ubuntu-latest

    needs: npm_publish

    if: startsWith(github.ref, 'refs/tags/')

    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js 12.x
        uses: actions/setup-node@v1
        with:
          node-version: 12.x
      - name: website
        env:
          GH_NAME: ${{ secrets.GH_NAME }}
          GH_EMAIL: ${{ secrets.GH_EMAIL }}
          GH_TOKEN_PLAYGROUND: ${{ secrets.GH_TOKEN_PLAYGROUND }}
        run: |
          git config --global user.name "${GH_NAME}"
          git config --global user.email "${GH_EMAIL}"
          echo "machine github.com login ${GH_NAME} password ${GH_TOKEN_PLAYGROUND}" > ~/.netrc
          cd website && yarn install && GIT_USER="${GH_NAME}" yarn run publish-gh-pages
