name: Playground Node CI

on: push

jobs:
  sayhello:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x]

    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: sayhello
        run: |
          echo "hello"

  website:
    runs-on: ubuntu-latest

    # if: startsWith(github.ref, 'refs/tags/')

    needs: sayhello

    strategy:
      matrix:
        node-version: [12.x]

    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Dump job context
        env:
          GH_REF: ${{github.ref}}
        run: echo "HUEHUE $GH_REF"
      - name: website
        run: |
          git config --global user.name "${GH_NAME}"
          git config --global user.email "${GH_EMAIL}"
          echo "machine github.com login ${GH_NAME} password ${GH_TOKEN_PLAYGROUND}" > ~/.netrc
          cd website && yarn install && GIT_USER="${GH_NAME}" yarn run publish-gh-pages
